CleanArchitecture/CleanArchitecture/src/CleanArchitecture.Application/bin/
CleanArchitecture/CleanArchitecture/src/CleanArchitecture.Domain/bin/
CleanArchitecture/CleanArchitecture/src/CleanArchitecture.Domain/obj/
CleanArchitecture/CleanArchitecture/src/CleanArchitecture.Infrastructure/obj/
CleanArchitecture/CleanArchitecture/src/CleanArchitecture.WebAPI/bin/
CleanArchitecture/CleanArchitecture/src/CleanArchitecture.WebAPI/obj/
CleanArchitecture/CleanArchitecture/.vs/
CleanArchitecture/CleanArchitecture/src/CleanArchitecture.Application/obj/
CleanArchitecture/CleanArchitecture/src/CleanArchitecture.Infrastructure/bin/
Middleware/.vs/
Middleware/Middleware/bin/
Middleware/Middleware/obj/
Middleware/WebUIMiddleware/bin/
Middleware/WebUIMiddleware/obj/
CleanArchitecture/CleanArchitecture/APIGateway/bin/
CleanArchitecture/CleanArchitecture/APIGateway/obj/
CleanArchitecture/CleanArchitecture/IdentityServer/bin/
CleanArchitecture/CleanArchitecture/IdentityServer/obj/
CleanArchitecture/CleanArchitecture/APIGateway/APIGateway.csproj.user
CleanArchitecture/CleanArchitecture/IdentityServer/IdentityServer.csproj.user
CleanArchitecture/CleanArchitecture/IdentityServer/tempkey.jwk
